body {
    font-family: Arial, sans-serif;
    background-color:#ADBBDA;
}
.login-div {
    border: 3px solid;
    background-color: #7091E6;
    padding: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    text-align: center;
    color: white;
}

.graphql-greetings {
    border: 3px solid;
    background-color: #7091E6;
    padding: 15px;
    position: absolute;
}