/*
Color Codes:
MAIN == #background-color: #444444
AUX == #background: #797979
*/

body {
    font-family: Arial, sans-serif;
    background-color: #444444;
}
/* Got a bit lazy and just alligned it do the center like so.
   Bit excessive but it works.
*/
.login-header {
    text-align: center;
}

.login-div {  
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.login-inner-div {
    background: #797979;
    padding: 20px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(123, 123, 123, 0.1);
    width: auto;
}

.graphql-main-container {
    display: inline-grid;
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 90%;
    height: 90%;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(123, 123, 123, 0.1);
    background: #797979;
}

.user-info {
    position: relative;
    display: inline-block;
}
.skills-chart {
    position: relative;
    display: inline-block;

}
.xp-graph {
    position: relative;
    display: inline-block;
}
.extra-section {
    align-content: center;
    justify-content: center;
}

.extra-section {
    align-content: center;
    justify-content: center;
}
