/*
Color Codes:
MAIN == #background-color: #444444
AUX == #background: #797979
*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flexbox;
    background-color: #444444;
}
/* Got a bit lazy and just alligned it do the center like so.
   Bit excessive but it works.
*/
.lolololol {
    text-align: center;
}

.login-div {  
    display: flexbox;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.login-inner-div {
    background: #797979;
    padding: 20px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(123, 123, 123, 0.1);
    width: auto;
}

.graphql-main-container {
    position: absolute;
    padding: 10px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(123, 123, 123, 0.1);
    background: #797979;
    width: 75%;
    height: 50%;
}

.skills-box {
    display: inline-grid;
    position: relative;
    justify-items: center;
    padding: 10px;
    height: 300px;
}

.user-box {
    height: auto;
    position: relative;
    display: inline-grid;
    height: 300px;
}

.xp-box {
    display: inline-grid;
    position: relative;
    justify-items: center;
    height: 300px
}

.extra-section {
    align-content: center;
    justify-content: center;
}